.wrapper {
	position: relative;
	width: 640px;
	height: 480px;
	top: 40px;
	left: 50%;
	margin-left: -490px;
}

.viewer{
	position: absolute;
	top: 0px;
	left: 0px;
}

.nav{
	position: relative;
}

.forward{
	position: absolute;
	top: 200px;
	left: 590px;
}

.back{
	position: absolute;
	top: 200px;
	left: 0px;
}